$scrollbar-color-frontend: var(--v-theme-primary);
$scrollbar-color-backend: var(--v-theme-background);

$footer-border-from-color: var(--v-theme-primary);
$footer-border-to-color: var(--v-theme-primary);

$article-banner-content-bgColor: var(--v-theme-primary);
